.header{
  display: flex;
  top: 0;
  left: 0;
  position: sticky;
  justify-content: space-between;
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 12px 36px;
  /* padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px; */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
 
}

.main {
  flex-grow: 1;
}

.navLink {
  text-decoration: none;
  font-size: 20px;
  align-items: center;
  background-color: #f5841f;
  border-radius: 40px;
  display: flex;
  font-size: 20px;
  height: 34px;
  justify-content: center;
  line-height: 26px;
  padding: 10px 20px;
}
